/* 对齐 */
.jm-ct{
    text-align: center;
}
.jm-rt{
    text-align: right;
}
.jm-lt{
    text-align: left;
}

/* 字体 */
.jm-f16{
font-size: 16px;
}
/* 字体颜色 */
.jm-bai{
    color:#fff;
}
.jm-hei{
    color:#000;
}
/* 背景颜色 */
.jm-bg-bai{
    background: #fff;
}

/* 列表 */
.jm-li{
    list-style: none;
}